@import "../abstracts/";

#beers nav {
  display: flex;
  justify-content: space-around;
}

#beers .flex_container {
  justify-content: space-between;
  margin: 15px 15px 0 0;
}

#taps,
#storage {
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

#beers ol {
  overflow-y: scroll;
  height: 100%;
  margin-top: 25px;
}

#beers li {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-right: 15px;

  &:first-child {
    margin-top: 0;
  }

  &.yellow p {
    color: $yellow_clr;
  }

  &.red p {
    color: $red_clr;
  }
}

.tap_info {
  width: 100%;
}

.beer_bar {
  box-shadow: $horisontal_shadow;
  width: 50%;
  height: 7px;
  border-radius: 5px;
  margin-top: 5px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    border-radius: inherit;
    width: var(--bar-length);
    transition: background-color 3s, width 3s, box-shadow 3s;
  }

  &.green::after {
    background-color: $green_clr;
    // box-shadow: 0px 0px 4px $green_clr;
  }

  &.yellow::after {
    background-color: $yellow_clr;
    // box-shadow: 0px 0px 4px $yellow_clr;
  }
  &.red::after {
    background-color: $red_clr;
    // box-shadow: 0px 0px 4px $red_clr;
  }
  &.red.pulse::after {
    animation-name: pulse_kf;
    animation-iteration-count: infinite;
    animation-duration: 0.4s;
    animation-direction: alternate;
  }
}

@keyframes pulse_kf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

article {
  display: none;
}

article.show {
  display: flex;
}
