@import "../abstracts/";

.flex_container {
  display: flex;
}

section {
  background-color: $bg_clr;
  flex-direction: column;

  &.open {
    display: flex;
  }
}

@media only screen and (min-width: $tablet) {
  section {
    display: flex;
    border-radius: 10px;
    padding: 15px;
    box-shadow: $large_outer;
  }
}

@media only screen and (min-width: $desktop) {
}
