@import "../abstracts/";

button {
  display: block;
  background-color: $bg_clr;
  border: none;
  cursor: pointer;
}

header button {
  width: 70px;
  height: 50px;

  border-radius: 5px;

  position: relative;

  box-shadow: $medium_outer;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 15px;
    width: 40px;
    height: 40px;
    background-size: cover;
  }

  &:nth-of-type(1)::after {
    background: url("../icons/person_light.svg");
  }

  &:nth-of-type(2)::after {
    background: url("../icons/order.svg");
  }

  &:nth-of-type(3)::after {
    background: url("../icons/beer.svg");
  }

  &:nth-of-type(4)::after {
    background: url("../icons/chart.svg");
  }

  &.open {
    box-shadow: $medium_inner;
  }
}

.darkmode header button,
.dark4ever header button {
  &:nth-of-type(1)::after {
    background: url("../icons/person_dark.svg");
  }

  &:nth-of-type(2)::after {
    background: url("../icons/order_dark.svg");
  }

  &:nth-of-type(3)::after {
    background: url("../icons/beer_dark.svg");
  }

  &:nth-of-type(4)::after {
    background: url("../icons/chart_dark.svg");
  }
}

#beers button {
  width: 40%;
  padding: 10px 0;
  border-radius: 7px;
  color: $heading_clr;
  background-color: $bg_clr;

  box-shadow: $medium_outer;

  &.clicked {
    box-shadow: $medium_inner;
  }
}
