@import "../abstracts/";

.icon_l,
.icon_s {
  border-radius: 100%;
  margin-right: 15px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background: $inner_light;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

.icon_s.hide {
  display: none;
}

.icon_l {
  width: 50px;
  height: 50px;
  padding: 10px;

  &::after {
    box-shadow: $medium_inner;
  }
}

.icon_s {
  width: 32px;
  height: 32px;
  padding: 5px;
  position: relative;

  &::after {
    box-shadow: $small_inner;
  }
}

.bullet {
  width: 15px;
  height: 15px;
  color: $heading_clr;
  box-shadow: $small_outer;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    background-color: $heading_clr;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: inherit;
    background: $outer_light;
  }
}

// coloring the icons
[data-served-by="peter"] svg,
[data-id="peter"] svg,
#performance .peter {
  fill: $peter;
}

[data-served-by="dannie"] svg,
[data-id="dannie"] svg,
#performance .dannie {
  fill: $dannie;
}

[data-served-by="jonas"] svg,
[data-id="jonas"] svg,
#performance .jonas {
  fill: $jonas;
}

.time_icon svg {
  fill: $para_clr;

  transition: fill 3s;
}

.yellow .time_icon svg {
  fill: $yellow_clr;
}

.red .time_icon svg {
  fill: $red_clr;
}
